*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;

  font: {
    size: 1.6rem;
    family: 'Noto Sans JP',
      sans-serif;
  }

  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

@mixin ie11 {

  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    @content;
  }
}

section {
  padding: 11.2rem 0;
}

.container {
  width: 85%;
  max-width: 104rem;
  margin: 0 auto;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  &>* {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    min-width: 24rem;
  }
}

.spacing {
  *+* {
    margin-top: 3.2rem;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .8rem 2rem;
  background: var(--clr-accent);

  @include ie11 {
    background: #faa700;
  }

  color: white;

  font: {
    weight: 700;
    size: 1.8rem;
  }

  -webkit-transition: opacity 250ms linear,
  -webkit-transform 250ms ease-in-out;

  transition: opacity 250ms linear,
  -webkit-transform 250ms ease-in-out;

  transition: transform 250ms ease-in-out,
  opacity 250ms linear;

  transition: transform 250ms ease-in-out,
  opacity 250ms linear,
  -webkit-transform 250ms ease-in-out;
  border-radius: .4rem;
  text-transform: uppercase;

  &:hover,
  &:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;
  }
}

.primary-title {
  font-size: 6.4rem;
  font-size: clamp(3rem, calc(5vw + 1.6rem), 7.2rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: 4rem;
  font-size: clamp(4rem, calc(5vw + 1.6rem), 5.4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 8rem;
}

.hero {
  color: white;
  text-align: center;
  padding: 24rem 0;
  background-color: #222;

  @supports(background-blend-mode: multiply) {
    background: {
      color: transparent;
      image: url('../img/shoe-3.png'),
        radial-gradient(#444, #111);
      attachment: fixed;
      repeat: no-repeat;
      position: center center;
    }

    background-blend-mode: multiply
  }
}

.featured {
  background: #eee;

  &__item {
    display: block;
    position: relative;
    -webkit-transform: scale(.85);
    transform: scale(.85);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;


    &:hover,
    &:focus {
      -webkit-transform: scale(1);
      transform: scale(1);

      .featured__details {
        opacity: 1;
        text-shadow: 0 0 3.2rem rgba(#fff, 1);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 10%;
      left: 10%;
      z-index: -1;
      padding: 75% 75% 0 0;
      border-radius: 50%;
      background: #2193b0;
    }
  }

  &__details {
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;

    span {
      display: block;

      font: {
        weight: 700;
        size: 4rem;
      }
    }
  }
}

.product {
  background: radial-gradient(var(--clr-inner), var(--clr-outer));
  padding: 4.8rem;
  border-radius: 1.6rem;
  margin-bottom: 6rem;
  text-align: center;

  &__title {
    font-size: 4.5rem;
    color: #fff;
    text-shadow: 0 0 .3rem rgba(#000, .2);
    line-height: 1.1;
  }

  &__image {
    margin-top: -8rem;
  }
}

.hero {
  --clr-accent: #faa700;
}

.shoe-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;

  @include ie11 {
    background: radial-gradient(#faa700, #e48d00);
  }

  .btn {
    @include ie11 {
      background: #a1173c;
    }
  }
}

.shoe-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;

  @include ie11 {
    background: radial-gradient(#fce4b3, #eac886);
  }

  .btn {
    @include ie11 {
      background: #2f4858;
    }
  }
}

.shoe-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;

  @include ie11 {
    background: radial-gradient(#6dd5ed, #2193b0);
  }

  .btn {
    @include ie11 {
      background: #008951;
    }
  }
}